@mixin clearfix() {
    &::after, &::before {
        content: '';
        clear: both;
        display: table;
    }
}

@mixin grid() {
    padding-right: 57.47%;
    position: relative;
    box-sizing: border-box;
    @include clearfix;
}
@mixin cell($l, $w) {
    left: ($l * 20 - 20) * 1%;
    margin-right: (-($w * 20 - 5)) * 1%;
    width: ($w * 20 - 5) * 1%;
    float: left;
    position: relative;
}