<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plywood Cutter</title>
    <link rel="stylesheet" href="/build/css/style.css">
</head>
<body>

<div class="m-plywoodCutter" data-js="plywood-cutter">
    <div class="m-plywoodCutter__title">Калькулятор стоимости распила фанеры</div>
    <div data-js="plywoods-list"></div>
    <div class="m-plywoodCutter__canvases">
        <div class="m-plywoodCutter__g-12">
            <div class="m-plywoodCutter__col-1 m-plywoodCutter__span-6">
                <button class="m-plywoodCutter__buttonGray" style="margin-right: 20px;" data-js="toggle-plywood-cut">Показать схему распила</button>
                <button class="m-plywoodCutter__buttonSecondary" data-js="reset-plywood">Сбросить данные</button>
            </div>
            <div class="m-plywoodCutter__col-7 m-plywoodCutter__span-6">
                <div class="m-plywoodCutter__actions">
                    <button class="m-plywoodCutter__button" data-js="new-plywood">Добавить лист</button>
                </div>
            </div>
        </div>
        <div class="m-plywoodCutter__canvasesList" data-js="plywood-cut"></div>
    </div>
    <div class="m-plywoodCutter__divider"></div>
    <div class="m-plywoodCutter__title--mini">3. Материал</div>
    <div class="summary-table">
        <table data-js="plywood-table">
            <thead>
            <tr>
                <td>Наименование</td>
                <td width="100">Цена за м<sup>2</sup></td>
                <td width="100">Кол-во м<sup>2</sup></td>
                <td width="100">Вес</td>
                <td width="100">Цена за лист</td>
                <td width="100">Кол-во листов</td>
                <td width="100">Всего</td>
            </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="7" style="text-align: right">Итого материал: <span data-js="material-price">0</span> р.</td>
                </tr>
                <tr>
                    <td colspan="7" style="text-align: right">Итого распил: <span data-js="cut-price">0</span> р.</td>
                </tr>
                <tr>
                    <td colspan="7">
                        <div class="m-plywoodCutter__order">
                            <input type="hidden" name="delivery" data-js="plywood-delivery" value="1000">
                            <input type="hidden" name="profit" data-js="plywood-profit" value="1">
                            <div class="m-plywoodCutter__orderValue">Итого <b><span data-js="total-price">0</span> р.</b></div>
                            <button class="m-plywoodCutter__button m-plywoodCutter__button--large" data-js="order">Оформить заказ</button>
                        </div>
                    </td>
                </tr>
            </tfoot>
            <tbody data-js="plywood-table-rows"></tbody>
        </table>
    </div>
</div>

<script data-js="template-figure" type="text/template">
    <div class="m-plywoodCutter__g-12">
        <div class="m-plywoodCutter__col-1 m-plywoodCutter__span-4">
            <input type="text" class="m-plywoodCutter__input" value="<%= width %>" data-js="width" placeholder="0">
        </div>
        <div class="m-plywoodCutter__col-5 m-plywoodCutter__span-4">
            <input type="text" class="m-plywoodCutter__input" value="<%= height %>" data-js="height" placeholder="0">
        </div>
        <div class="m-plywoodCutter__col-9 m-plywoodCutter__span-4">
            <input type="text" class="m-plywoodCutter__input" value="<%= count %>" data-js="count" placeholder="0">
        </div>
    </div>
    <button class="m-plywoodCutter__removeFigureButton m-plywoodCutter__buttonHollow" data-js="remove-figure">X</button>
</script>

<script data-js="template-plywood" type="text/template">
    <div class="m-plywoodCutter__container">
        <div class="m-plywoodCutter__leftColumn">
            <div class="m-plywoodCutter__fieldset m-plywoodCutter__fieldset--figure">
                <div class="m-plywoodCutter__fieldsetLegend">1. Укажите размеры деталей</div>
                <div class="m-plywoodCutter__trimming">
                    <input class="m-plywoodCutter__checkbox" type="checkbox" id="trimming_<%= number %>" name="trimming_<%= number %>" data-js="trimming" <%= trimming ? 'checked="checked"' : '' %>>
                    <label class="m-plywoodCutter__checkboxLabel" for="trimming_<%= number %>">Торцовка</label>
                </div>
                <div class="m-plywoodCutter__g-12">
                    <div class="m-plywoodCutter__col-1 m-plywoodCutter__span-4">
                        <input type="text" class="m-plywoodCutter__input" data-js="figure-width" placeholder="Ширина">
                    </div>
                    <div class="m-plywoodCutter__col-5 m-plywoodCutter__span-4">
                        <input type="text" class="m-plywoodCutter__input" data-js="figure-height" placeholder="Длина">
                    </div>
                    <div class="m-plywoodCutter__col-9 m-plywoodCutter__span-4">
                        <input type="text" class="m-plywoodCutter__input" data-js="figure-count" placeholder="Кол-во">
                    </div>
                </div>
                <button class="m-plywoodCutter__addFigureButton m-plywoodCutter__button" data-js="add-figure">+</button>

                <div class="m-plywoodCutter__figuresList" data-js="figures-list"></div>
            </div>
        </div>
        <div class="m-plywoodCutter__rightColumn">
            <div class="m-plywoodCutter__fieldset">
                <div class="m-plywoodCutter__fieldsetLegend">2. Укажите параметры листа №<%= number %></div>
                <% if (number > 1) { %>
                    <button class="m-plywoodCutter__removePlywood m-plywoodCutter__buttonHollow" data-js="remove-plywood">Удалить лист</button>
                <% } %>
                <div class="m-plywoodCutter__g-12">
                    <div class="m-plywoodCutter__col-1 m-plywoodCutter__span-2">
                        <select class="m-plywoodCutter__select" data-js="plywood-depth"></select>
                    </div>
                    <div class="m-plywoodCutter__col-3 m-plywoodCutter__span-3">
                        <select class="m-plywoodCutter__select" data-js="plywood-kind"></select>
                    </div>
                    <div class="m-plywoodCutter__col-6 m-plywoodCutter__span-3">
                        <select class="m-plywoodCutter__select" data-js="plywood-format"></select>
                    </div>
                    <div class="m-plywoodCutter__col-9 m-plywoodCutter__span-4">
                        <select class="m-plywoodCutter__select" data-js="plywood-mark"></select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="m-plywoodCutter__divider"></div>
</script>

<script data-js="template-plywood-row" type="text/template">
    <td><%= name %></td>
    <td><%= meterPrice %> р.</td>
    <td><%= figuresMeter %> м<sup>2</sup></td>
    <td><%= weight %> кг</td>
    <td><%= itemPrice %> р.</td>
    <td><%= count %></td>
    <td><%= amount %> р.</td>
</script>

<script src="js/underscore-min.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/backbone-min.js"></script>
<script src="js/index.js"></script>

</body>
</html>
