.summary-table table, table.gelios {
    width: 100%;
    margin: 0 0 20px;
}

.summary-table table thead td, table.gelios thead td {
    color: #222325;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    border-bottom: 2px solid #bcbdbd;
    padding: 10px 0;
}

.summary-table table thead td:nth-child(2n+1), table.gelios thead td:nth-child(2n+1) {
    border-color: #e8e9e9;
}

.summary-table table thead tr td:first-child, table.gelios thead tr td:first-child {
    border-color: #fff;
}

.summary-table table tbody td, table.gelios tbody td {
    color: #222325;
    font-size: 14px;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    padding: 15px 0;
}

.summary-table table tbody tr td:first-child, table.gelios tbody tr td:first-child {
    text-align: left;
}

.summary-table p {
    margin: 0;
    /*font-size: 16px;*/
    /*line-height: 25px;*/
}